@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* * {
  outline: 2px solid rgba(255, 99, 78, 0.5);
} */

.visualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 1200px;
  margin: 0;
  font-family: "PT Sans" , Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  background-color: #E5E5E5;
}

.body-container {
  width: 1200px;
  margin: 0 auto;

  background-color: #FFFFFF;
}

.main-container {
  flex-grow: 1;
}

.button {
  box-sizing: border-box;
  font-family: "PT Sans" , Arial, sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756257;
  cursor: pointer;
}

.button:focus-visible {
  outline: none;
}

.button:hover {
  background-color: #615048;
}

.button:focus {
  background-color: #615048;
  outline: 3px solid #83B3D3;
  outline-offset: 0;
}

.button:active {
  color:rgba(255, 255, 255, 0.3);
  outline: none;
}

.button-large {
  font-size: 20px;
  line-height: 26px;
}
.button-light {
  background-color: #83B3D3;
  border-style: none;
}

.button-light:hover {
  background-color: #68A2CA;
}

.button-light:focus {
  background-color: #68A2CA;
  outline: 3px solid #756257;
  outline-offset: 0;
}

.button-light:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.button-white-border:focus {
  outline: 3px solid #FFFFFF;
  outline-offset: 0;
}

.header {
  display: flex;
  margin-top: 0;
  justify-content: space-between;
}

.header ,
.footer-container ,
.inner-header ,
.hotel-searching ,
.hotel-cards
{
  padding-left: 71px;
  padding-right: 72px;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 330px;
}

.navigation-user {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  max-width: 330px;
  margin-left: auto;
}

.navigation-link-logo {
  display: block;
  margin: 0 auto -10px;
  margin-left: 130px;
}

.navigation-link-logo:focus ,
.navigation-link-logo:focus-visible {
  outline: 3px solid #756257;
  border-radius: 1px;
}

.navigation-link {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding: 6px 12px;
  margin-right: 21px;
  margin-left: -12px;
  margin-top: 12px;
  margin-bottom: 14px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}
/* Стили для активной ссылки навигации*/
.navigation-link-wraper {
  position: relative;
}

.navigation-link-current .navigation-link-wraper::after {
  position: absolute;
  transform: translateY(20px);
  display: block;
  content: "";
  box-sizing: border-box;
  width: 100%;
  height: 2px;
  background-color: #756257;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:focus {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.navigation-link:active {
  color: #756257;
  outline: none;
  opacity: 0.3;
}

.navigation-link:hover .navigation-icon {
  fill:  #756257;
}

.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 18px;
}

.navigation-link:nth-child(3n) {
  margin-right: 0;
}

.navigation-icon {
  position: absolute;
  top: 3px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.navigation-link-icon {
  margin-right: 12px;
  padding: 19px;
}

.navigation-link-icon-fav {
  position: relative;
}

.navigation-link-icon-fav::after {
  position: absolute;
  top: 2px;
  left: 22px;
  display: block;
  content: "12";
  box-sizing: border-box;
  width: 19px;
  height: 19px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 10px;
  line-height: 13px;
  font-weight: 400;
  text-align: center;
  letter-spacing: -0.1em;
  color: #FFFFFF;
  background-color: #7DB550;
  border-radius: 50%;
}

.button-want-it{
  margin-left: 11px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: block;
  box-sizing: border-box;
  width: 160px;
  padding: 8px 10px;
  border-radius: 4px;
}

.main::before {
  content: "";
  display: block;
  height: 485px;
  background:
  url("../img/welcome.svg") no-repeat top 51px right 372px,
  url("../img/bg-bottom-border.svg") no-repeat 50% 100%,
  url("../img/background-index.jpg") no-repeat 50% 50%;
  background-color: #83b9dd;

}
.welcome-container {
  padding: 39px 240px 57px;
}

.title {
  margin: 23px auto 33px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.text-description {
  margin: 0 auto 22px;
  margin-left: auto;
  margin-right: auto;
  font-size: 22px;
  line-height: 36px;
  width: 720px;
  font-weight: 400;
  color: #333333;
}

.title-light , .text-description-light {
  color: #FFFFFF;
}

.advantages-list , .advantages-nested-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-wrapper {
  width: 370px;
  padding: 15px;
  padding-top: 97px;
}
.advantages-wrapper-without-icon {
  padding-top: 99px;
  padding-bottom: 44px;
}
.advantages-nested-item .advantages-wrapper {
  padding-top: 185px;
  padding-bottom: 26px;
}
.advantages-wrapper-without-icon .advantages-title {
  margin-bottom: 27px;
}

/*Цвет и картинки для блоков преимуществ*/
.advantages-item:first-child ,
.advantages-item:nth-child(2) {
  color: #FFFFFF;
  background-color: #83B3D3;
}
.advantages-nested-item,
.advantages-item {
  background: #f0f6fa;
  display: flex;
  flex-wrap: wrap;
  color:black;
}
.advantages-nested-item:first-child {
  background-image: url("../img/house-icon.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: top 89px right 162px;
}
.advantages-nested-item:nth-child(2) {
  background-color: white;
  background-image: url("../img/burger-icon.svg");
  background-repeat: no-repeat;
  background-size: 74px 70px;
  background-position: top 91px right 163px;
}

.advantages-nested-item:nth-child(3) {
  background-image: url("../img/gift-icon.svg");
  background-repeat: no-repeat;
  background-size: 64px 76px;
  background-position: top 85px right 168px;
}


.advantages-item:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.2);
}

/*Оформление текста для блоков преимуществ*/
.advantages-title {
  margin-top: 0;
  margin-bottom: 28px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}
.advantages-title-nested {
  margin-bottom: 19px;
}
.advantage-number {
  margin-top: 0;
  margin-bottom: 31px;
}

.advantages-description {
  max-width: 250px;
  margin-top: 0;
  margin-bottom: 64px;
  margin-left: auto;
  margin-right: auto;
}

.advantage-number ,
.advantages-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  /* color: #000000; */
  color: inherit;
}

.hotel-search {
  padding: 50px;
  padding-top: 63px;
  padding-bottom: 91px;
}

.hotel-search .title {
  margin-bottom: 30px;
}

.hotel-search .text-description {
  margin-bottom: 59px;
  line-height: 26px;
}

.button-hotel-search {
  margin-left: auto;
  margin-right: auto;
  padding: 12px 15px;
  width: 575px;
  display: block;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 36px;
  border-radius: 10px;
}

.newsletter {
  padding: 75px;
  padding-top: 61px;
  padding-bottom: 128px;
}

.newsletter-background {
  padding: 75px;
  padding-top: 69px;
  padding-bottom: 84px;
  background-color: #83b9dd;
  background-image: url("../img/background-newsletter.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.newsletter .title {
  margin-bottom: 29px;
}

.newsletter .text-description {
  margin-bottom: 46px;
  line-height: 26px;
}

.newsletter-form {
  display: flex;
  margin-bottom: 10px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.button-subscribe {
  min-width: 200px;
  padding: 17px 34px;
  border-radius: 0px 10px 10px 0px;
}

.without-background .field {
  background-color: #F2F2F2;
}

.field[type=email] {
  width: 600px;
  box-sizing: border-box;
  padding: 14px 20px;
  font-family: "PT Sans" , Arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
  border: inset 2px transparent;
  border-radius: 10px 0px 0px 10px;
}

.field:hover {
  background-color: #E5E5E5;
}

.field:focus {
  background-color: #E5E5E5;
  outline: 3px solid #83B3D3;
}

/* Состояние активности */
/* .field:not(:placeholder-shown) {
  background-color: white;
  border: inset 2px #000000;
} */
.field:active {
  background-color: white;
  border: inset 2px #000000;
  outline: none;
}

/* Дополнительное состояние для ошибки */
.newsletter-form-error > .field {
  border: inset 2px #FF5757;
}

.footer-container {
  display: flex;
  padding-top: 39px;
  padding-bottom: 30px;
}

.social {
  display: flex;
  flex-wrap: wrap;
  max-width: 150px;
  margin-left: -10px;
  margin-right: 21px;
}

.social-button {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 4px;
  color: #000000;
  background: none;
  cursor: pointer;
}

.social-button:hover .social-icon{
  fill: #68A2CA;
}

.social-button:focus {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.social-button:active {
  outline: none;
  opacity: 0.3;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.contacts {
  width: 720px;
  margin: 0 auto;
}

.contacts-address-phone {
  display: block;
  width: 333px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color:#000000;
  text-decoration: none;
}

.contacts-address-phone:hover {
  color: #756257;
}
.developer-link:hover .developer-icon {
  fill: #756257;
}
.contacts-address-phone:focus,
.developer-link:focus {
  outline: 3px solid #83B3D3;
  outline-offset: 6px;
  border-radius: 1px;
}
.developer-link:focus {
  outline-offset: 13px;
}
.contacts-address-phone:active,
.developer-link:active{
  outline: none;
  opacity: 0.3;
}
.developer-logo {
  width: 115px;
  margin-left: auto;
  margin-top: 5px;
}

/*Каталог*/

.main-inner {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.inner-header  {
  display: flex;
  flex-direction: column;
  padding-top: 37px;
  padding-bottom: 14px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #83b9dd;
  background-image: url("../img/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.inner-header-title {
  margin-top: 0;
  margin-bottom: 3px;
  font-size: 60px;
  line-height: 68px;
  /* line-height: 78px; line-height по макету рушит внешний вид */
  font-weight: 700;
  text-align: left;
}

/* Хлебные крошки */
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-link {
  display: block;
  margin-bottom: 45px;
  margin-left: -3px;
  padding: 0 5px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  border-radius: 4px;
}

.breadcrumbs-item {
  margin-right: 17px;
}

.main-icon {
  fill: #FFFFFF;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}
.breadcrumbs-link:focus {
  outline: 3px solid #83B3D3;
}

.breadcrumbs-item:nth-child(2) {
  position: relative;
}

.breadcrumbs-item:nth-child(2)::before {
  position: absolute;
  top: 7px;
  left: -11px;
  content: "";
  display: block;
  width: 5px;
  height: 8px;
  background-image: url(../img/icon-stripe-right.svg);
  background-repeat: no-repeat;
}

.hotels-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 53px;
  margin-left: -17px;
}

.catalog-filter-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 0;
  text-align: left;
  border: none;
}

.catalog-filter-group:first-child {
  margin-right: 34px;
}

.catalog-filter-group:nth-child(2){
  margin-right: 141px;
}

.catalog-filter-title {
  margin-bottom: 25px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: left;
}

.control {
  position: relative;
  display: block;
  margin-bottom: 13px;
  padding-left: 41px;
  cursor: pointer;
}

.control-mark {
  position: absolute;
  top: 1px;
  left: 3px;
  display: block;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
  cursor: pointer;
}

.control-input:focus + .control-mark {
  outline: 3px solid #83B3D3;
}

.control:active .control-mark {
  outline: none;
}

/* Состояния для чекбоксов */
.control:hover input[type="checkbox"] + .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input:focus input[type="checkbox"] + .control-mark{
  background-color: rgba(255, 255, 255, 0.6);
}

.control:active input[type="checkbox"] + .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input[type="checkbox"]:checked + .control-mark{
  background-image: url(../img/icon-chek.svg);
  background-position: top 6px left 4px;
  background-repeat: no-repeat;
  background-size: 12px 10px;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
}

.range {
  margin-right: 64px;
}

.range-scale {
  position:relative;
  width: 287px;
  height: 4px;
  margin-top: 4px;
  margin-bottom: 28px;
  background-color: #ffffff4f;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-min {
  top: -9px;
  left: -1px;
}

.toggle-max {
  top: -9px;
  right: -8px;
}

.range-toggle:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

/*Поле с ценой  */

.range-wrapper-inputs {
  position: relative;
  display: flex;
  width: 287px;
  margin-bottom: 28px;
  margin-top: 4px;
  border-radius: 4px;
}

.catalog-filter-input {
  width: 145px;
  box-sizing: border-box;
  padding: 12px 31px 9px 17px;
  font-family: "PT Sans" , Arial, sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  -moz-appearance:textfield;
}

.catalog-filter-input:first-child {
  border-radius: 4px 0px 0px 4px;
}

.catalog-filter-input:nth-child(2) {
  margin-left: -2px;
  border-radius: 0px 4px 4px 0px;
}

/* Состояния для полей*/
.catalog-filter-input:hover {
  z-index: 1;
  border: 2px solid #FFFFFF7E;
  -moz-appearance: number-input;
}
.catalog-filter-input:focus {
  border: 2px solid #FFFFFF;
  outline: 3px solid #81B3D2;
  box-shadow: inset 0 0 0 2px #81B3D2;
  z-index: 2;
}

.catalog-filter-input:active {
  background-color: #756257;
  border: 2px solid #FFFFFF;
  outline: none;
  box-shadow: none;
}

.catalog-filter-input:active ~ .catalog-filter-label {
  z-index: 2;
}

.catalog-filter-label {
  position: absolute;
  display: block;
  width: 50px;
  text-align: right;
  color: #FFFFFF7E;
}

.catalog-filter-label[for="min-price"] {
  top: 12px;
  left: 78px;
}

.catalog-filter-label[for="max-price"] {
  top: 12px;
  right: 18px;
}

.catalog-filter-input::-webkit-outer-spin-button,
.catalog-filter-input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.hotel-searching {
  display: flex;
  margin-top: 44px;
  margin-bottom: 42px;
}

.search-title {
  align-self: center;
  margin-right: auto;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
}
.select-control {
  position: relative;
  box-sizing: border-box;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: "PT Sans" , Arial, sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  background-image: url(../img/icon-stripe-down.svg);
  background-position: right 20px top 21px;
  background-repeat: no-repeat;
  background-size: 12px 7px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  -webkit-appearance:none;
}

.select-control:hover ,
.select-control:focus ,
.select-control:focus-visible {
  outline: none;
  border: 2px solid #83B3D3;
}

.select-control:active {
  border: 2px solid #E6E6E6;
  opacity: 0.3;
}

.sorting-type .select-control {
  align-self: flex-start;
  width: 287px;
  margin-left: 20px;
  padding: 12px 19px 13px;
}

.sorting-type {
  display: flex;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  margin-top: 62px;
}

.buttons-container .button-light {
  width: 160px;
  box-sizing: border-box;
  margin-bottom: 13px;
  padding: 14px 20px;
  border-radius: 4px;
}

.button-reset {
  align-self: center;
  width: 100px;
  box-sizing: border-box;
  padding: 1px 6px 2px;
  font-family: "PT Sans" , Arial, sans-serif;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: inherit;
  border: 3px solid transparent;
}
.button-reset:hover {
  opacity: 0.6;
}
.button-reset:focus {
  box-sizing: border-box;
  border: 3px solid #83B3D3;
  border-radius: 4px;
  outline: none;
  opacity: 1;
}
.button-reset:active {
  border: 3px solid transparent;
  opacity: 0.3;
}
.select-control {
  width: 160px;
  box-sizing: border-box;
}
.button-view-container {
  display: grid;
  grid-template-columns: repeat(3, 48px);
  grid-template-rows: 48px;
  gap: 8px;
  width: 160px;
  margin-left: 81px;
}

.card-grid-toggle {
  position: relative;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  background-color: #FFFFFF;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.card-grid-toggle:hover ,
.card-grid-toggle:focus {
  border: 2px solid #83B3D3;
  outline: none;
}

.card-grid-toggle-current {
  border: 2px solid #000000;
}

.view-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.hotel-card-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
}

.hotel-card-title-link {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: block;
  width: max-content;
  max-width: 600px;
  margin-left: -14px;
  margin-top: -13px;
  margin-bottom: -10px;
  padding: 10px 15px;
  color: #000000;
  text-decoration: none;
}
.hotel-card-title-link:hover {
  color: #756257;
}

.hotel-card-title-link:focus {
  outline: 3px solid #83B3D3;
  outline-offset: -10px;
  border-radius: 14px;
}

.hotel-card-title-link:active{
  outline: none;
  opacity: 0.3;
}

.hotel-card {
  position: relative;
  display: grid;
  grid-template-columns:180px auto 1fr;
  gap: 37px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: left;
  border-top: 1px solid #E6E6E6;
}

.hotel-card-pic {
  display: block;
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}
.hotel-card-image-link:hover {
  opacity: 0.6;
}
.hotel-card-image-link:focus {
  outline: 3px solid #83B3D3;
  outline-offset: 0;
}
.hotel-card-image-link:active {
  opacity: 0.3;
  outline: none;
}
.hotel-description-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto) ;
  column-gap: 8px;
}
.hotel-card-rating {
  justify-self: end;
  min-width: 160px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
  background-color: #F2F2F2;
}

.hotel-card-type {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin-bottom: 32px;
  color: #333333;
}
.hotel-card-price {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  color: #333333;
}

.hotel-card-rating ,
.hotel-card-button,
.hotel-card-button-fav {
  align-self: flex-end;
  box-sizing: border-box;
  padding: 8px 30px;
  border-radius: 4px;
}

.hotel-card-button {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  width: 151px;
}
.hotel-card-button-fav {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  width: 160px;
}

.hotel-card-button-fav:hover ,
.hotel-card-button-fav:active {
  outline: 1px solid #756257;
  outline-offset: -1px;
}

.hotel-card-button-fav-current {
  background-color: #7DB54F;
}

.hotel-card-button-fav-current:hover ,
.hotel-card-button-fav-current:focus ,
.hotel-card-button-fav-current:active {
  background-color: #6C9E42;
}

.hotel-2-stars::after ,
.hotel-3-stars::after ,
.hotel-4-stars::after {
  position: absolute;
  top: 34px;
  height: 17px;
  content: "";
  display: block;
  background-color: transparent;
  background-image: url(../img/icon-4-stars.svg);
  background-repeat: no-repeat;
}

.hotel-2-stars::after {
  right: 58px;
  width: 43px;
}

.hotel-3-stars::after{
  right: 48px;
  width: 68px;
}

.hotel-4-stars::after{
  right: 35px;
  width: 93px;
}

.button-show-all {
  position: relative;
  display: block;
  width: 625px;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding: 15px 20px;
  border-radius: 4px;
}

.button-show-all-wrapper {
  padding: 30px 10px;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
}

/* Пагинация */
.pagination-container {
  display: flex;
  justify-content: space-between;
  margin-top: 31px;
}

.pagination {
  display: flex;
  max-width: 500px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  /* width: 55px; */
  min-width: 55px;
  max-width: 90px;
  height: 55px;
  padding: 12px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #83B3D3;
  border-radius: 4px;
}

.pagination-link-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link-current:hover {
  color: #FFFFFF;
}

.pagination-link:focus {
  outline: 3px solid #756257;
  outline-offset: 0;
  border-radius: 4px;
}

.pagination-link:active ,
.pagination-link-current:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.hotels-per-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 510px;
}

.hotels-per-page .label {
  align-self: center;
  max-width: 290px;
  margin-right: 6px;
}

.hotels-per-page .select-control {
  align-self: flex-start;
  width: 160px;
  margin-left: 46px;
  padding: 12px 17px 13px;
}

/* Попап */
.popup {
  position: relative;
  display: none;
  width: 300px;
  min-height: 150px;
  box-sizing: border-box;
  padding: 25px;
  font-family: "PT Sans" , Arial, sans-serif;
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid #E6E6E6;
  border-radius: 20px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
}
/* Для открытия попапа */
.navigation-popup-wrapper:hover > .popup {
  display: block;
}

.navigation-popup-wrapper {
  position: relative;
}

.popup-fav {
  position: absolute;
  top: 62px;
  left: -190px;
  width: 400px;
  box-sizing: border-box;
}

.popup::before {
  position: absolute;
  top: -15px;
  left: 186px;
  z-index: 1;
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url(../img/icon-angle.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.popup-content {
  height: 100%;
}

.fav-list {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.fav-item {
  display: grid;
  grid-template-columns:1fr 36px;
  column-gap: 17px;
  justify-content: flex-start;
}

.fav-item-link {
  position: relative;
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.fav-item-image {
  float: left;
  margin-right: 15px;
}

.fav-item-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  text-align: left;
  color: #000000;
}

.fav-item-type {
  margin-top: 0;
  margin-bottom: 2px;
  font-size: 16px;
  line-height: 21px;
  /* line-height: 40px; line-height по макету рушит внешний вид при переполнении */
  font-weight: 400;
  text-align: left;
  color: #000000;
}

.fav-item + .fav-item {
  margin-top: 25px;
}

.fav-item-button {
  grid-row: 1 / 3;
  grid-column: 3 / 4;
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  margin-top: -7px;
  margin-right: -10px;
  margin-left: 10px;
  padding: 8px;
  background-color: transparent;
  border: 3px solid transparent;
  border-radius: 10px;
  cursor: pointer;
}

.fav-item-button-icon {
  fill: #c9c9c9;
}

.fav-item-button:hover .fav-item-button-icon ,
.fav-item-button:focus .fav-item-button-icon {
  fill: #000000;
}

.fav-item-button:focus {
  border: 3px solid #83B3D3;
}

.fav-item-button:active {
  border: 3px solid transparent;
  opacity: 0.3;
}

.fav-item-button:focus-visible {
  outline: none;
}

.button-fav-all {
  display: block;
  width: 400px;
  margin: 25px -26px -26px;
  padding: 20px;
  border-radius: 0px 0px 20px 20px;
}

.fav-item-link:hover  {
  outline: none;
  opacity: 0.6;
}

.fav-item-link:focus {
  outline: 3px solid #83B3D3;
  outline-offset: 7px;
  border-radius: 4px;
}

.fav-item-link:active {
  outline: none;
  opacity: 0.3;
}

/* Модальное окно */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 58px 70px 60px;
  background-color: #FFFFFF;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;;
}

.modal-booking {
  width: 575px;
}

.modal-close-button {
  position: absolute;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  padding: 0;
  background-color:#F2F2F2;
  background-image: url(../img/modal-close-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.modal-close-button:active {
  outline: none;
  opacity: 0.6;
}

.modal-title {
  margin-left: -3px;
  margin-top: 0;
  margin-bottom: 61px;
  padding-right: 20px;
  font-size: 30px;
  line-height: 40px;
  text-align: left;
  text-transform: uppercase;
}

.modal-booking-form .field ,
.modal-booking-form .field-group {
  font-family: "PT Sans" , Arial, sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
}

.modal-booking-form .field-group {
  display: flex;
  margin-top: 0;
  margin-bottom: 43px;
  text-align: left;
}

.modal-booking-form .field {
  width: 420px;
  box-sizing: border-box;
  padding: 2px 16px;
  background-color: #F2F2F2;
  border: inset 2px transparent;
  border-radius: 4px;
}
.modal-booking-form .field:focus {
  background-color: #E5E5E5;
  outline: 3px solid #83B3D3;
}

.modal-booking-form .field:active {
  background-color: #FFFFFF;
  border: 2px solid #000000;
  outline: none;
}

.booking-form-label {
  align-self: center;
  display: inline-block;
  width: 155px;
}

.field-group .booking-count-input {
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
}
.field-group .booking-data-input {
  position: relative;
  box-sizing: border-box;
  background-image: url(../img/icon-calendar.svg);
  background-position-x: 383px;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  border: inset 2px transparent;
}

/* Кнопка + - */
.booking-count-buttons {
  position: relative;
}

.minus-button ,
.plus-button {
  position: absolute;
  width: 25px;
  height: 25px;
  padding: 3px;
  box-sizing: border-box;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: 3px solid transparent;
  border-radius: 4px;
  opacity: 0.6;
  cursor: pointer;
}

.minus-button {
  z-index: 1;
  top: 11px;
  left: 11px;
  background-image: url("../img/icon-minus.svg");
}

.plus-button {
  top: 11px;
  left: 95px;
  background-image: url("../img/icon-plus.svg");
}

.minus-button:focus-visible ,
.plus-button:focus-visible {
  outline: none;
}

.minus-button:hover ,
.plus-button:hover {
  opacity: 1;
}

.minus-button:focus ,
.plus-button:focus {
  border: 3px solid #83B3D3;
  opacity: 1;
}

.minus-button:active ,
.plus-button:active {
  border: 3px solid transparent;
  opacity: 0.6;
}

.booking-count-input::-webkit-outer-spin-button,
.booking-count-input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}


.booking-form-label[for="booking-kids"] {
  position: relative;
  width: 100px;
  box-sizing: border-box;
  margin-left: 51px;
  padding-right: 56px;
}

.field-group:last-child {
  position: relative;
}

.booking-info-button {
  position: absolute;
  top: 14px;
  left: 107px;
  width: 25px;
  height: 25px;
  background-color: #83B3D3;
  background-image: url(../img/icon-info.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.booking-info-button:hover {
  background-color: #68A2CA;
}

/* Подсказка */
.booking-info-button-tip {
  display: none;
}

.booking-info-button-tip::before {
  position: absolute;
  top: -9px;
  left: 50%;
  transform:translateX(-50%);
  display: block;
  width: 19px;
  height: 9px;
  content: "";
  background-image: url(../img/icon-angle-black.svg);
}

.booking-info-button:hover > .booking-info-button-tip {
  position: absolute;
  top: 40px;
  left: 13px;
  transform: translateX(-50%);
  z-index: 2;
  display: block;
  width: 256px;
  box-sizing: border-box;
  padding: 20px 20px 24px 20px;
  font-family: "PT Sans" , Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  color: #FFFFFF;
  background-color: #333333;
  border-radius: 10px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
}

.modal-booking-form .field[type=number] {
  width: 133px;
  -moz-appearance:textfield;
}

.booking-form-people-number {
  display: flex;
  justify-content: space-between;
}

.modal-booking-form .button {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 20px;
  line-height: 40px;
  border-radius: 10px;
}

/* Сообщения об успехе и ошибке */
.booking-input-success ,
.booking-input-error {
  position: relative;
}

.booking-input-success-message ,
.booking-input-error-message {
  display: none;
}

.booking-input-success .booking-input-success-message ,
.booking-input-error .booking-input-error-message {
  position: absolute;
  top: 45px;
  left: 155px;
  display: block;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

.booking-input-success .booking-input-success-message {
  color: #000000;
}

.booking-input-error .booking-input-error-message {
  color: #FF5757;
}


