@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* * {
  outline: 2px solid rgba(255, 99, 78, 0.5);
} */

.visualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans" , Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  background-color: #E5E5E5;

}

.body-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.main-container {
  flex-grow: 1;
}

.button {
  font-family: inherit;
  box-sizing: border-box; /*?*/
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756257;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
.button:focus-visible {
  outline: none;
}
.button:hover {
  background-color: #615048;
}
.button:focus {
  background-color: #615048;
  /* outline: 3px solid #83B3D3; */
  border: 3px solid #83B3D3;
}
.button:active {
  outline: none;
  color:rgba(255, 255, 255, 0.3);
}
.button-large {
  font-size: 20px;
  line-height: 26px;
}
.button-light {
  background-color: #83B3D3;
  border-style: none;
}
.button-light:hover {
  background-color: #68A2CA;
}
.button-light:focus {
  background-color: #68A2CA;
  outline: 3px solid #756257;
}
.button-light:active {
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}
.button-white-border:focus {
  outline: 3px solid #FFFFFF;
}
.header {
  display: flex;
  margin-top: 0;
  justify-content: space-between;
}

.header ,
.footer-container ,
.inner-header ,
.hotel-searching ,
.hotel-cards
{
  padding-left: 71px;
  padding-right: 72px;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 330px;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  max-width: 260px;
  margin-left: auto;
}

.navigation-link-logo {
  display: block;
  margin: 0 auto -10px;
}

.navigation-link {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding: 6px 12px;
  margin-right: 9px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}
/* Стили для активной ссылки навигации*/
.navigation-link-wraper {
  position: relative;
}

.navigation-link-current .navigation-link-wraper::after {
  content: "";
  position: absolute;
  top: 43px;
  left: 0px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 2px;
  background-color: #756257;
}
.navigation-link:hover {
  color: #756257;
}
.navigation-link:focus {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}
.navigation-link:active {
  outline: none;
  color: #756257;
  opacity: 0.3;
}

.navigation-link:hover .navigation-icon {
  fill:  #756257;
}

.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 18px;
}

.navigation-link:nth-child(3n) {
  margin-right: 0;
}

.navigation-link:nth-child(1) {
  margin-left: -12px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}
.navigation-link-icon {
  padding: 19px;
}
.navigation-link-icon-fav {
  position: relative;
}
.navigation-link-icon-fav::after {
  content: "12";
  position: absolute;
  top: 0px;
  left: 22px;
  display: block;
  box-sizing: border-box;
  width: 19px;
  height: 19px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 10px;
  line-height: 13px;
  font-weight: 400;
  letter-spacing: -0.1em;
  text-align: center;
  color: #FFFFFF;
  background-color: #7DB550;
  border-radius: 50%;

}
.button-want-it{
  display: block;
  box-sizing: border-box;
  width: 160px;
  padding: 8px 10px;
  border-radius: 4px;
}
.main::before {
  content: "";
  display: block;
  height: 485px;
  background:
  url("../img/welcome.svg") no-repeat 50% 50%,
  url("../img/bg-bottom-border.svg") no-repeat 50% 100%,
  url("../img/background-index.jpg") no-repeat 50% 50%;
  background-color: #83b9dd;

}
.welcome-container {
  padding: 66px 240px;
}

.title {
  font-size: 30px;
  line-height: 36px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.text-description {
  font-size: 22px;
  line-height: 36px;
  width: 720px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  color: #333333;
}

.title-light , .text-description-light {
  color: #FFFFFF;
}

.advantages-list , .advantages-nested-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-wrapper {
  width: 370px;
  padding: 15px;
  padding-top: 97px;
}

.advantages-nested-item .advantages-wrapper {
  padding-top: 184px;
}



/*Цвет и картинки для блоков преимуществ*/
.advantages-item:first-child ,
.advantages-item:nth-child(2) {
  color: #FFFFFF;
  background-color: #83B3D3;
}
.advantages-nested-item,
.advantages-item {
  background: #f0f6fa;
  display: flex;
  flex-wrap: wrap;
  color:black;
}
.advantages-nested-item:first-child {
  background-image: url("../img/house-icon.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: top 89px right 162px;
}
.advantages-nested-item:nth-child(2) {
  background-color: white;
  background-image: url("../img/burger-icon.svg");
  background-repeat: no-repeat;
  background-size: 74px 70px;
  background-position: top 91px right 163px;
}

.advantages-nested-item:nth-child(3) {
  background-image: url("../img/gift-icon.svg");
  background-repeat: no-repeat;
  background-size: 64px 76px;
  background-position: top 85px right 168px;
}


.advantages-item:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.2);
}

/*Оформление текста для блоков преимуществ*/
.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 25px;
}
.advantage-number {
  margin-top: 0;
  margin-bottom: 26px;
}

.advantages-description {
  max-width: 250px;
  margin-top: 0;
  margin-bottom: 62px;
  margin-left: auto;
  margin-right: auto;
}
.advantage-number ,
.advantages-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.hotel-search {
  padding: 50px;
}

.button-hotel-search {
  display: block;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 36px;
  width: 575px;
  padding: 12px 15px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;

}

.newsletter-background {
  background-color: #83b9dd;
  background-image: url("../img/background-newsletter.jpg");
  background-repeat: no-repeat;

}

.newsletter {
  padding: 75px;
}
.newsletter-form {
  display: flex;
  /* display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 60px; */
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.button-subscribe {
  padding: 6px 34px;
  border-radius: 0px 10px 10px 0px;
}
.without-background .field {
  background-color: #F2F2F2;

}
.field[type=email] {
  width: 600px;
  box-sizing: border-box;
  padding: 14px 22px;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  border: 3px solid transparent;
  border-radius: 10px 0px 0px 10px;
}

.field:hover {
  background-color: #E5E5E5;
}
.field[type=email]:focus {
  background-color: #E5E5E5;
  outline: 3px solid #83B3D3;
}
.field[type=email]:active {
  padding: 15px 23px;
  background-color: #FFFFFF;
  border: 2px solid #000000;
  outline: none;
}
.field:focus-visible {
  outline: none;
}

.footer-container {
  display: flex;
  padding-top: 40px;
  padding-bottom: 30px;
}

.social {
  display: flex;
  flex-wrap: wrap;
  max-width: 150px;

}

.social-button {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  background: none;
  color: #000000;
  cursor: pointer;
}

.social-button:hover .social-icon{
  fill: #68A2CA;
}
.social-button:focus {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}
.social-button:active {
  outline: none;
  opacity: 0.3;
}
.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.contacts {
  width: 720px;
  margin: 0 auto;
}

.contacts-address-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color:#000000;
  text-decoration: none;
}

.contacts-address-phone:hover {
  color: #756257;
}
.developer-link:hover .developer-icon {
  fill: #756257;
}
.contacts-address-phone:focus,
.developer-link:focus {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.contacts-address-phone:active,
.developer-link:active{
  outline: none;
  opacity: 0.3;
}
.developer-logo {
  width: 115px;
  margin-left: auto;
}

/*Каталог*/

.main-inner {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.inner-header  {
  display: flex;
  flex-direction: column;

  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #83b9dd;
  background-image: url("../img/catalog-background.jpg");
  background-repeat: no-repeat;

}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  text-align: left;
  margin-top: 0;
  margin-bottom: 5px;
}
/* Хлебные крошки */
.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-link {
  display: block;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  margin-bottom: 45px;
  border-radius: 4px;
  padding: 0 5px;
}
.main-icon {
  fill: #FFFFFF;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}
.breadcrumbs-link:focus {
  outline: 3px solid #83B3D3;
}

.breadcrumbs-item:first-child {
  margin-right: 26px;
}
.breadcrumbs-item:nth-child(2) {
  position: relative;
}

.breadcrumbs-item:nth-child(2)::before {
  position: absolute;
  top: 7px;
  left: -15px;
  content: "";
  display: block;
  width: 5px;
  height: 8px;
  background-image: url(../img/icon-stripe-right.svg);
  background-repeat: no-repeat;
}
/*.filters-container {
  display: flex; Нужна ли?
}*/

.hotels-filter {
  display: flex;
  justify-content: space-around;
  align-items: center; /*Временно*/
  margin-bottom: 80px;
}

.catalog-filter-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 0;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 30px;
}
.control {
  position: relative;
  display: block;
  padding-left: 39px;
  margin-bottom: 13px;
  cursor: pointer;
}
.control-mark {
  position: absolute;
  display: block;
  top: 2px;
  left: 0px;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #FFFFFF;
  cursor: pointer;
}
.control:hover .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}
.control-input:focus + .control-mark {
  outline: 3px solid #83B3D3;
  background-color: rgba(255, 255, 255, 0.6);
}
.control:active .control-mark {
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
}
.control-input[type="checkbox"]:checked + .control-mark{
  background-image: url(../img/icon-chek.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 10px;
  background-position: top 6px left 4px;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}
/* Не получилось сделать белыми */
/* .control:hover .control-mark-radio ,
.control:active .control-mark-radio {
  background-color: #FFFFFF;
  opacity: 1;
}
.control-input:focus + .control-mark-radio {
  outline: 3px solid #83B3D3;
  background-color: #FFFFFF;
} */

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  content: "";
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
}
.control:hover .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.range-scale {
  position:relative;
  width: 287px;
  height: 4px;
  margin-top: 4px;
  margin-bottom: 28px;
  background-color: #ffffff4f;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}
.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 5px;
  background-color: #FFFFFF;
  cursor: pointer;
}
.toggle-min {
  top: -10px;
  left: -10px;
}
.toggle-max {
  top: -10px;
  right: -10px;
}
.range-toggle:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.range-toggle:focus {
  outline: 3px solid #83B3D3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.range-toggle:active {
  outline: 2px solid #83B3D3;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

.range-wrapper-inputs {
  display: flex;
  width: 287px;
  /* border: 2px solid #FFFFFF; */
  border-radius: 4px;
  /* padding-top: 12px;
  padding-bottom: 13px; */
}
.range-wrapper-input {
  height: 100%;
  width: 144px;
  padding: 12px 14px 13px 19px;
  box-sizing: border-box;
  border: 2px solid #FFFFFF;
}
.range-wrapper-input:first-child {
  border-radius: 4px 0px 0px 4px;
}
.range-wrapper-input:last-child {
  border-radius: 0px 4px 4px 0px;
  margin-left: -2px;
}
.range-wrapper-input:hover {
  border: 2px solid #FFFFFF7E;
}
.range-wrapper-input:active {
  border: 2px solid #FFFFFF;
  background-color: #756257;
}

.range-wrapper-input:first-child:hover  {
  z-index: 1;
}
/* Не получилась обводка при фокусе
.catalog-filter-input:focus + .range-wrapper-input  {
  outline: 6px solid black;
} */

.catalog-filter-label {
  display: inline-block;
  width: 40px;
  box-sizing: border-box;
  margin-left: 10px;
  text-align: right;
  color: #FFFFFF7E;
}
.catalog-filter-input {
  width: 50px;
  padding: 0;
  font-size: 18px;
  line-height: 23px;
  background-color: transparent;
  border: none;
  color: #FFFFFF;
}
.catalog-filter-input:focus-visible {
  outline: none;
}
.catalog-filter-input::-webkit-outer-spin-button,
.catalog-filter-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
.hotel-searching {
  display: flex;
  margin-top: 44px;
  margin-bottom: 42px;
}

.search-title {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: auto;
  align-self: center;
}
.select-control {
  position: relative;
  box-sizing: border-box;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  -webkit-appearance:none;
  background-size: 12px 7px;
  background-image: url(../img/icon-stripe-down.svg);
  background-repeat: no-repeat;
  background-position: right 20px top 21px;
}

.select-control:hover ,
.select-control:focus ,
.select-control:focus-visible {
  outline: none;
  border: 2px solid #83B3D3;
}

.select-control:active {
  border: 2px solid #E6E6E6;
  opacity: 0.3;
}

.sorting-type .select-control {
  padding-left: 19px;
  padding-right: 19px;
  width: 287px;
}
.catalog-filter-group {
  border: none;
  text-align: left;
}
.sorting-type {
  display: flex;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  /* grid-template-rows: repeat(2, auto);
  row-gap: 20px; */
}
.buttons-container .button-light {
  margin-bottom: 20px;
  width: 160px;
  box-sizing: border-box;
  padding: 14px 20px;
  border-radius: 4px;
}
.button-reset {
  align-self: center;
  width: 100px;
  padding: 1px 6px 2px;
  box-sizing: border-box;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: inherit;
  border: 3px solid transparent;
}
.button-reset:hover {
  opacity: 0.6;
}
.button-reset:focus {
  border: 3px solid #83B3D3;
  border-radius: 4px;
  outline: none;
  opacity: 1;
  box-sizing: border-box;
}
.button-reset:active {
  opacity: 0.3;
  border: 3px solid transparent;
}
.select-control {
  box-sizing: border-box;
  width: 160px;
}
.button-view-container {
  display: grid;
  grid-template-columns: repeat(3, 48px);
  gap: 8px;
  width: 160px;
  margin-left: 81px;
}

.card-grid-toggle {
  position: relative;
  box-sizing: border-box;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  background-color: #FFFFFF;
  width: 48px;
  height: 48px;
}

.card-grid-toggle:hover ,
.card-grid-toggle:focus {
  border: 2px solid #83B3D3;
  outline: none;
}

.card-grid-toggle-current {
  border: 2px solid #000000;
}

.view-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.hotel-card-title {
  margin-top: 0;
  margin-bottom: 0 ;
}

.hotel-card-title-link {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: block;
  padding: 10px 15px;
  margin-left: -15px;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}
.hotel-card-title-link:hover {
  color: #756257;
}

.hotel-card-title-link:focus {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.hotel-card-title-link:active{
  outline: none;
  opacity: 0.3;
}

.hotel-card {
  position: relative;
  display: grid;
  grid-template-columns:180px auto 1fr;
  gap: 37px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: left;
  border-top: 1px solid #E6E6E6;
}

.hotel-card-pic {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hotel-card-image-link:hover {
  opacity: 0.6;
}
.hotel-card-image-link:focus {
  outline: 3px solid #83B3D3;
}
.hotel-card-image-link:active {
  opacity: 0.3;
  outline: none;
}
.hotel-description-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto) ;
  column-gap: 8px;
}
.hotel-card-rating {
  justify-self: end;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  min-width: 160px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
}

.hotel-card-type {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.hotel-card-price {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.hotel-card-rating ,
.hotel-card-button,
.hotel-card-button-fav {
  align-self: flex-end;
  box-sizing: border-box;
  padding: 8px 30px;
  border-radius: 4px;
}

.hotel-card-button {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  min-width: 151px;
}
.hotel-card-button-fav {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  min-width: 160px;
}

.hotel-card-button-fav-current {
  background-color: #7DB54F;
}
.hotel-card-button-fav-current:hover ,
.hotel-card-button-fav-current:focus ,
.hotel-card-button-fav-current:active {
  background-color: #6C9E42;
}
.hotel-2-stars::after ,
.hotel-3-stars::after ,
.hotel-4-stars::after {
  content: "";
  display: block;
  position: absolute;
  top: 34px;
  height: 17px;
  background-image: url(../img/icon-4-stars.svg);
  background-repeat: no-repeat;
  background-color: transparent;
}

.hotel-2-stars::after {
  width: 43px;
  right: 58px;
}

.hotel-3-stars::after{
  width: 68px;
  right: 48px;
}
.hotel-4-stars::after{
  width: 93px;
  right: 35px;
}
.button-show-all {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 625px;
  padding: 15px 20px;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
}
.button-show-all-wrapper {
  padding: 30px 10px;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
}

/* Пагинация */
.pagination-container {
  display: flex;
  justify-content: space-between;
  margin-top: 31px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding: 15px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #83B3D3;
  border-radius: 4px;
}
.pagination-link-current {
  color: #000000;
  background-color: #F2F2F2;
}
.pagination-link:hover {
  background-color: #68A2CA;
}
.pagination-link-current:hover {
  color: #FFFFFF;
}
.pagination-link:focus {
  outline: 3px solid #756257;
  border-radius: 4px;
}

.pagination-link:active ,
.pagination-link-current:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}
.hotels-per-page .select-control {
  width: 160px;
  padding: 12px 17px 13px;
  margin-left: 51px;
}

/* Попап */
.popup {
  width: 300px;
  min-height: 150px;
  box-sizing: border-box;
  padding: 25px;
  font-family: inherit;
  color: #000000;
  background-color: #FFFFFF;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border: 1px solid #E6E6E6;
  border-radius: 20px;
  display: none;
}
/* .popup-open {
  display: block;
} */
.navigation-popup-wrapper {
  position: relative;
}
.popup-fav {
  top: 50px;
  left: -180px;
  position: absolute;
  width: 400px;
  box-sizing: border-box;
}
.navigation-popup-wrapper::before {
  content: "";
  position: absolute;
  top: 37px;
  left: -1px;
  z-index: 1;
  display: block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url(../img/icon-angle.svg);
  background-repeat: no-repeat;
  background-position: center;

}
.popup-content {
  height: 100%;
}
.fav-list {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
.fav-item {
  display: grid;
  grid-template-columns: 48px 1fr 36px;
  column-gap: 17px;
  justify-content: flex-start;
}
.fav-item-link {
  position: relative;
  cursor: pointer;
  display: block;
  grid-column: 2 / 3;
}

.fav-item:first-child .fav-item-link::before ,
.fav-item:nth-child(2) .fav-item-link::before {
  position: absolute;
  left: -65px;
  content: "";
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.fav-item:first-child .fav-item-link::before {
  background-image: url(../img/hotel-2-small.png);
}

.fav-item:nth-child(2) .fav-item-link::before {
  background-image: url(../img/hotel-3-small.png);
 }

.fav-item-title {
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;;
  color: #000000;
}
.fav-item-type {
  text-align: left;
  margin-top: 0;
  margin-bottom: 2px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
}

.fav-item + .fav-item {
  margin-top: 25px;
}
.fav-item-button {
  grid-row: 1 / 3;
  grid-column: 3 / 4;
  background-color: transparent;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  padding: 8px;
  margin-right: -10px;
  border: 3px solid transparent;
  border-radius: 10px;
}
.fav-item-button-icon {
  fill: #c9c9c9;
}
.fav-item-button:hover .fav-item-button-icon ,
.fav-item-button:focus .fav-item-button-icon {
  fill: #000000;
}
.fav-item-button:focus {
  border: 3px solid #83B3D3;
}
.fav-item-button:active {
  border: 3px solid transparent;
  opacity: 0.3;
}
.fav-item-button:focus-visible {
  outline: none;
}
.button-fav-all {
  display: block;
  width: 400px;
  margin: 25px -26px -26px;
  padding: 20px;
  border-radius: 0px 0px 20px 20px;
}

.fav-item-link:hover  {
  opacity: 0.6;
}
/* Не получился фокус */
/* .fav-item-link:focus {
  outline: 3px solid blue;
} */

/* Модальное окно */
.modal-container {
  position: fixed;
  z-index: 2;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  display: none;
}
.modal {
  position: relative;
  margin: auto;
  padding: 54px 70px;
  background-color: #FFFFFF;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;;
}

.modal-booking {
  width: 575px;
}

.modal-close-button {
  position: absolute;
  top: 54px;
  right: 70px;
  padding: 0;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-color:#F2F2F2;
  border: none;
  cursor: pointer;
  background-image: url(../img/modal-close-button.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.modal-close-button:hover {
  background-color: #E6E6E6;
}
.modal-close-button:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}
.modal-close-button:active {
  outline: none;
  opacity: 0.6;
}
.modal-title {
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: left;
  margin-top: 0;
  margin-bottom: 32px;
  padding-right: 20px;

}

.modal-booking-form .field ,
.modal-booking-form .field-group {
  font-family: inherit;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
}

.modal-booking-form .field-group {
  display: flex;
  margin-top: 0;
  margin-bottom: 41px;
  text-align: left;

}

.modal-booking-form .field {
  width: 420px;
  box-sizing: border-box;
  padding: 2px 16px;
  background-color: #F2F2F2;
  border: 3px solid transparent;
  border-radius: 4px;
}
.modal-booking-form .field:focus {
  background-color: #E5E5E5;
  outline: 3px solid #83B3D3;
}
.modal-booking-form .field:active {
  padding: 3px 17px;
  background-color: #FFFFFF;
  border: 2px solid #000000;
  outline: none;

}

.booking-form-label {
  display: inline-block;
  width: 155px;
}
.field-group .count-input {
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
}
.field-group .data-input {
  position: relative;
  background-size: 15px 15px;
  background-image: url(../img/icon-calendar.svg);
  background-repeat: no-repeat;
  background-position-x: 386px;
  background-position-y: center;
}

/* Кнопка + - */
.booking-count-buttons {
  position: relative;
}
.minus-button ,
.plus-button {
  position: absolute;
  width: 25px;
  height: 25px;
  padding: 3px;
  box-sizing: border-box;
  opacity: 0.6;
  border: 3px solid transparent;
  border-radius: 4px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.minus-button {
  z-index: 1;
  top: 9px;
  left: 12px;
  background-image: url("../img/icon-minus.svg");
}

.plus-button {
  top: 9px;
  left: 95px;
  background-image: url("../img/icon-plus.svg");
}
.minus-button:focus-visible ,
.plus-button:focus-visible {
  outline: none;
}
.minus-button:hover ,
.plus-button:hover {
  opacity: 1;
}

.minus-button:focus ,
.plus-button:focus {
  opacity: 1;
  border: 3px solid #83B3D3;
}

.minus-button:active ,
.plus-button:active {
  opacity: 0.6;
  border: 3px solid transparent;
}

.count-input::-webkit-outer-spin-button,
.count-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
.count-input[type="number"]:active {
  padding: 3px 51px;
}

.booking-form-label[for="booking-kids"] {
  position: relative;
  width: 100px;
  box-sizing: border-box;
  padding-right: 56px;
  margin-left: 56px;
}
.field-group:last-child {
  position: relative;
}

.booking-info-button {
  position: absolute;
  top: 7px;
  left: 110px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  background-color: #83B3D3;
  background-image: url(../img/icon-info.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.booking-info-button:hover {
  background-color: #68A2CA;
}

.modal-booking-form .field[type=number] {
  width: 133px;
}
.booking-form-people-number {
  display: flex;
  justify-content: space-between;
}

.modal-booking-form .button {
  font-size: 20px;
  line-height: 40px;
  width: 100%;
  border-radius: 10px;
  padding: 10px 20px;

}

